user  nginx;
worker_processes  auto;

error_log  /var/log/nginx/error.log notice;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;

    keepalive_timeout  65;

    server {
        listen  80;
        listen  [::]:80;
        server_name alertmanager.devops.tbc;

        location / {
            return 301 https://$host:9093$request_uri;
        }
    } 

    server {
        listen  80;
        listen  [::]:80;
        server_name prometheus.devops.tbc;

        location / {
            return 301 https://$host:9090$request_uri;
        }
    } 
    
    server {
        listen  80;
        listen  [::]:80;
        server_name grafana.devops.tbc;

        location / {
            return 301 https://$host$request_uri;
        }
    } 

    server {
        listen  443 ssl;
        listen  [::]:443 ssl;
        server_name alertmanager.devops.tbc;

        ssl_certificate /etc/nginx/ssl/localhost.crt;
        ssl_certificate_key /etc/nginx/ssl/localhost.key;

        ssl_protocols TLSv1.2 TLSv1.1 TLSv1;

        location / {
            proxy_pass http://{{ alertmanager_host }}:9093;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection 'upgrade';
            proxy_set_header Host $host;
            proxy_cache_bypass $http_upgrade;
        }
    }

    server {
        listen  443 ssl;
        listen  [::]:443 ssl;
        server_name prometheus.devops.tbc;

        ssl_certificate /etc/nginx/ssl/localhost.crt;
        ssl_certificate_key /etc/nginx/ssl/localhost.key;

        ssl_protocols TLSv1.2 TLSv1.1 TLSv1;

        location / {
            proxy_pass http://{{ prometheus_host }}:9090;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection 'upgrade';
            proxy_set_header Host $host;
            proxy_cache_bypass $http_upgrade;
        }
    }

    server {
        listen  443 ssl;
        listen  [::]:443 ssl;
        server_name grafana.devops.tbc;

        ssl_certificate /etc/nginx/ssl/localhost.crt;
        ssl_certificate_key /etc/nginx/ssl/localhost.key;

        ssl_protocols TLSv1.2 TLSv1.1 TLSv1;

        location / {
            proxy_pass http://{{ grafana_host }}:3000;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection 'upgrade';
            proxy_set_header Host $host;
            proxy_cache_bypass $http_upgrade;
        }
    }
}